@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Poppins:wght@400;500;600&display=swap');

:root {
  --inter: "'Inter', sans-serif";
}

li,
a {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-nav:hover  li{
  filter: blur(5px);
}
.navbar-nav li:hover{
  filter: blur(0);
}


.footer-pos2 {
  position: absolute;
  right: 0;
  top: 30px;
  width: 53px;
  height: 287px;
  border-radius: 20px 0px 0px 20px;
  background: #F58A07;
}





.svg-inline--fa {
  vertical-align: -0.2em !important;
}

@media (max-width:1234px){
  .footer-content{
    padding: 0 40px;
  }
  .footer-bottom{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 972px){
 
  .footer-item{
    margin-top: 30px;
  }
}
@media (max-width: 672px){
 
  .footer-pos{
    display: none;
  }
}